.mw-highlight .hll {
	background-color: rgb(255, 255, 204);
}
.mw-highlight {
	background: rgb(248, 248, 248);
}
.mw-highlight .c {
	color: rgb(64, 128, 128); font-style: italic;
}
.mw-highlight .err {
	border: 1px solid rgb(255, 0, 0); border-image: none;
}
.mw-highlight .k {
	color: rgb(0, 128, 0); font-weight: bold;
}
.mw-highlight .o {
	color: rgb(102, 102, 102);
}
.mw-highlight .cm {
	color: rgb(64, 128, 128); font-style: italic;
}
.mw-highlight .cp {
	color: rgb(188, 122, 0);
}
.mw-highlight .c1 {
	color: rgb(64, 128, 128); font-style: italic;
}
.mw-highlight .cs {
	color: rgb(64, 128, 128); font-style: italic;
}
.mw-highlight .gd {
	color: rgb(160, 0, 0);
}
.mw-highlight .ge {
	font-style: italic;
}
.mw-highlight .gr {
	color: rgb(255, 0, 0);
}
.mw-highlight .gh {
	color: rgb(0, 0, 128); font-weight: bold;
}
.mw-highlight .gi {
	color: rgb(0, 160, 0);
}
.mw-highlight .go {
	color: rgb(136, 136, 136);
}
.mw-highlight .gp {
	color: rgb(0, 0, 128); font-weight: bold;
}
.mw-highlight .gs {
	font-weight: bold;
}
.mw-highlight .gu {
	color: rgb(128, 0, 128); font-weight: bold;
}
.mw-highlight .gt {
	color: rgb(0, 68, 221);
}
.mw-highlight .kc {
	color: rgb(0, 128, 0); font-weight: bold;
}
.mw-highlight .kd {
	color: rgb(0, 128, 0); font-weight: bold;
}
.mw-highlight .kn {
	color: rgb(0, 128, 0); font-weight: bold;
}
.mw-highlight .kp {
	color: rgb(0, 128, 0);
}
.mw-highlight .kr {
	color: rgb(0, 128, 0); font-weight: bold;
}
.mw-highlight .kt {
	color: rgb(176, 0, 64);
}
.mw-highlight .m {
	color: rgb(102, 102, 102);
}
.mw-highlight .s {
	color: rgb(186, 33, 33);
}
.mw-highlight .na {
	color: rgb(125, 144, 41);
}
.mw-highlight .nb {
	color: rgb(0, 128, 0);
}
.mw-highlight .nc {
	color: rgb(0, 0, 255); font-weight: bold;
}
.mw-highlight .no {
	color: rgb(136, 0, 0);
}
.mw-highlight .nd {
	color: rgb(170, 34, 255);
}
.mw-highlight .ni {
	color: rgb(153, 153, 153); font-weight: bold;
}
.mw-highlight .ne {
	color: rgb(210, 65, 58); font-weight: bold;
}
.mw-highlight .nf {
	color: rgb(0, 0, 255);
}
.mw-highlight .nl {
	color: rgb(160, 160, 0);
}
.mw-highlight .nn {
	color: rgb(0, 0, 255); font-weight: bold;
}
.mw-highlight .nt {
	color: rgb(0, 128, 0); font-weight: bold;
}
.mw-highlight .nv {
	color: rgb(25, 23, 124);
}
.mw-highlight .ow {
	color: rgb(170, 34, 255); font-weight: bold;
}
.mw-highlight .w {
	color: rgb(187, 187, 187);
}
.mw-highlight .mb {
	color: rgb(102, 102, 102);
}
.mw-highlight .mf {
	color: rgb(102, 102, 102);
}
.mw-highlight .mh {
	color: rgb(102, 102, 102);
}
.mw-highlight .mi {
	color: rgb(102, 102, 102);
}
.mw-highlight .mo {
	color: rgb(102, 102, 102);
}
.mw-highlight .sb {
	color: rgb(186, 33, 33);
}
.mw-highlight .sc {
	color: rgb(186, 33, 33);
}
.mw-highlight .sd {
	color: rgb(186, 33, 33); font-style: italic;
}
.mw-highlight .s2 {
	color: rgb(186, 33, 33);
}
.mw-highlight .se {
	color: rgb(187, 102, 34); font-weight: bold;
}
.mw-highlight .sh {
	color: rgb(186, 33, 33);
}
.mw-highlight .si {
	color: rgb(187, 102, 136); font-weight: bold;
}
.mw-highlight .sx {
	color: rgb(0, 128, 0);
}
.mw-highlight .sr {
	color: rgb(187, 102, 136);
}
.mw-highlight .s1 {
	color: rgb(186, 33, 33);
}
.mw-highlight .ss {
	color: rgb(25, 23, 124);
}
.mw-highlight .bp {
	color: rgb(0, 128, 0);
}
.mw-highlight .vc {
	color: rgb(25, 23, 124);
}
.mw-highlight .vg {
	color: rgb(25, 23, 124);
}
.mw-highlight .vi {
	color: rgb(25, 23, 124);
}
.mw-highlight .il {
	color: rgb(102, 102, 102);
}
.mw-highlight {
	unicode-bidi: embed; direction: ltr;
}
code code.mw-highlight {
	padding: 0px; border: 0px currentColor; border-image: none; background-color: transparent;
}
.mw-highlight .err {
	border: 0px currentColor; border-image: none;
}
.mw-highlight .hll {
	display: block;
}
.mw-content-ltr.mw-highlight .lineno {
	float: left;
}
.mw-content-rtl.mw-highlight .lineno {
	float: right;
}
@media print
{
.noprint {
	display: none;
}
div#jump-to-nav {
	display: none;
}
.mw-jump {
	display: none;
}
div.top {
	display: none;
}
div#column-one {
	display: none;
}
.mw-editsection {
	display: none;
}
.mw-editsection-like {
	display: none;
}
.toctoggle {
	display: none;
}
.tochidden#toc {
	display: none;
}
div#f-poweredbyico {
	display: none;
}
div#f-copyrightico {
	display: none;
}
li#about {
	display: none;
}
li#disclaimer {
	display: none;
}
li#mobileview {
	display: none;
}
li#privacy {
	display: none;
}
#footer-places {
	display: none;
}
.mw-hidden-catlinks {
	display: none;
}
.usermessage {
	display: none;
}
.patrollink {
	display: none;
}
.ns-0 .mw-redirectedfrom {
	display: none;
}
#mw-navigation {
	display: none;
}
#siteNotice {
	display: none;
}
.wikitable {
	page-break-inside: avoid;
}
.thumb {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
h4 {
	page-break-after: avoid;
}
h5 {
	page-break-after: avoid;
}
h6 {
	page-break-after: avoid;
}
p {
	orphans: 3; widows: 3;
}
body {
	background: white; margin: 0px; padding: 0px; color: black;
}
ul {
	list-style-type: square;
}
h1 {
	font-weight: bold;
}
h2 {
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
h4 {
	font-weight: bold;
}
h5 {
	font-weight: bold;
}
h6 {
	font-weight: bold;
}
dt {
	font-weight: bold;
}
p {
	margin: 1em 0px; line-height: 1.2em;
}
pre {
	background: white; padding: 1em 0px; border: 1pt dashed black; border-image: none; color: black; overflow: auto; font-size: 8pt; white-space: pre;
}
.mw-code {
	background: white; padding: 1em 0px; border: 1pt dashed black; border-image: none; color: black; overflow: auto; font-size: 8pt; white-space: pre;
}
#globalWrapper {
	width: 100% !important; min-width: 0px !important;
}
.mw-body {
	background: white; margin: 0px !important; padding: 0px !important; border: currentColor !important; border-image: none !important; color: black; direction: ltr;
}
#column-content {
	margin: 0px !important;
}
#column-content .mw-body {
	margin: 0px !important; padding: 1em;
}
#toc {
	padding: 5px; border: 1px solid rgb(170, 170, 170); border-image: none; display: table; -ms-zoom: 1; background-color: rgb(249, 249, 249);
}
#footer {
	background: white; color: black; margin-top: 1em; border-top-color: rgb(170, 170, 170); border-top-width: 1px; border-top-style: solid; direction: ltr;
}
img {
	border: currentColor; border-image: none; vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}
a.stub {
	color: rgb(186, 0, 0); text-decoration: none;
}
a.new {
	color: rgb(186, 0, 0); text-decoration: none;
}
a {
	background: none !important; padding: 0px !important; color: black !important;
}
a:link {
	background: none; color: rgb(85, 34, 0); text-decoration: underline;
}
a:visited {
	background: none; color: rgb(85, 34, 0); text-decoration: underline;
}
.mw-body a.text.external::after {
	content: " (" attr(href) ")";
}
.mw-body a.autonumber.external::after {
	content: " (" attr(href) ")";
}
.mw-body a[href^='//'].text.external::after {
	content: " (https:" attr(href) ")";
}
.mw-body a[href^='//'].autonumber.external::after {
	content: " (https:" attr(href) ")";
}
a {
	color: black !important; text-decoration: none !important;
}
a.external {
	color: black !important; text-decoration: none !important;
}
a.new {
	color: black !important; text-decoration: none !important;
}
a.stub {
	color: black !important; text-decoration: none !important;
}
a {
	color: inherit !important; text-decoration: inherit !important;
}
a.external {
	color: inherit !important; text-decoration: inherit !important;
}
a.new {
	color: inherit !important; text-decoration: inherit !important;
}
a.stub {
	color: inherit !important; text-decoration: inherit !important;
}
div.floatright {
	margin: 0.5em 0px 0.8em 1.4em; clear: right; float: right; position: relative;
}
div.floatright p {
	font-style: italic;
}
div.floatleft {
	margin: 0.5em 1.4em 0.8em 0px; clear: left; float: left; position: relative;
}
div.floatleft p {
	font-style: italic;
}
div.center {
	text-align: center;
}
div.thumb {
	border: currentColor; border-image: none; width: auto; margin-top: 0.5em; margin-bottom: 0.8em; background-color: transparent;
}
div.thumbinner {
	padding: 3px !important; border: 1px solid rgb(204, 204, 204); border-image: none; text-align: center; overflow: hidden; font-size: 94%; background-color: white;
}
html .thumbimage {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
html .thumbcaption {
	padding: 3px !important; border: currentColor; border-image: none; text-align: left; line-height: 1.4em; font-size: 94%;
}
div.magnify {
	display: none;
}
div.tright {
	margin: 0.5em 0px 0.8em 1.4em; clear: right; float: right;
}
div.tleft {
	margin: 0.5em 1.4em 0.8em 0px; clear: left; float: left;
}
img.thumbborder {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
table.wikitable {
	background: white; margin: 1em 0px; border: 1px solid rgb(170, 170, 170); border-image: none; border-collapse: collapse;
}
table.mw_metadata {
	background: white; margin: 1em 0px; border: 1px solid rgb(170, 170, 170); border-image: none; border-collapse: collapse;
}
table.wikitable > tr > th {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > tr > td {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > * > tr > th {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > * > tr > td {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.mw_metadata th {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.mw_metadata td {
	padding: 0.2em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > tr > th {
	background: white; text-align: center; font-weight: bold;
}
table.wikitable > * > tr > th {
	background: white; text-align: center; font-weight: bold;
}
.mw_metadata th {
	background: white; text-align: center; font-weight: bold;
}
table.wikitable > caption {
	font-weight: bold;
}
.mw_metadata caption {
	font-weight: bold;
}
table.listing {
	border: 1pt solid black; border-image: none; border-collapse: collapse;
}
table.listing td {
	border: 1pt solid black; border-image: none; border-collapse: collapse;
}
a.sortheader {
	margin: 0px 0.3em;
}
.catlinks ul {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
.catlinks li {
	margin: 0.1em 0px; padding: 0px 0.4em; line-height: 1.15em; border-left-color: rgb(170, 170, 170); border-left-width: 1px; border-left-style: solid; display: inline-block; -ms-zoom: 1;
}
.catlinks li:first-child {
	padding-left: 0.2em; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.printfooter {
	padding: 1em 0px;
}
}
@media screen
{
.mw-content-ltr {
	direction: ltr;
}
.mw-content-rtl {
	direction: rtl;
}
.sitedir-ltr textarea {
	direction: ltr;
}
.sitedir-ltr input {
	direction: ltr;
}
.sitedir-rtl textarea {
	direction: rtl;
}
.sitedir-rtl input {
	direction: rtl;
}
.mw-userlink {
	unicode-bidi: embed;
}
mark {
	color: black; background-color: yellow;
}
wbr {
	display: inline-block;
}
input[type='submit'] {
	direction: ltr;
}
input[type='button'] {
	direction: ltr;
}
input[type='reset'] {
	direction: ltr;
}
input[type='file'] {
	direction: ltr;
}
textarea[dir='ltr'] {
	direction: ltr;
}
input[dir='ltr'] {
	direction: ltr;
}
textarea[dir='rtl'] {
	direction: rtl;
}
input[dir='rtl'] {
	direction: rtl;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
[title].explain {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
.mw-plusminus-pos {
	color: rgb(0, 100, 0);
}
.mw-plusminus-neg {
	color: rgb(139, 0, 0);
}
.mw-plusminus-null {
	color: rgb(170, 170, 170);
}
.mw-plusminus-pos {
	
}
.mw-plusminus-neg {
	
}
.mw-plusminus-null {
	
}
.allpagesredirect {
	font-style: italic;
}
.redirect-in-category {
	font-style: italic;
}
.watchlistredir {
	font-style: italic;
}
span.comment {
	font-style: italic;
}
.texvc {
	unicode-bidi: embed; direction: ltr;
}
img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}
.ontop#wikiPreview {
	margin-bottom: 1em;
}
#editform {
	clear: both;
}
#toolbar {
	clear: both;
}
#wpTextbox1 {
	clear: both;
}
li span.deleted {
	color: rgb(136, 136, 136); font-style: italic; text-decoration: line-through;
}
span.history-deleted {
	color: rgb(136, 136, 136); font-style: italic; text-decoration: line-through;
}
.not-patrolled {
	background-color: rgb(255, 255, 170);
}
.unpatrolled {
	color: red; font-weight: bold;
}
div.patrollink {
	text-align: right; font-size: 75%;
}
td.mw-label {
	text-align: right;
}
td.mw-input {
	text-align: left;
}
td.mw-submit {
	text-align: left;
}
td.mw-label {
	vertical-align: middle;
}
td.mw-submit {
	white-space: nowrap;
}
input#wpSummary {
	width: 80%; margin-bottom: 1em;
}
.mw-content-ltr .thumbcaption {
	text-align: left;
}
.mw-content-ltr .magnify {
	float: right;
}
.mw-content-rtl .thumbcaption {
	text-align: right;
}
.mw-content-rtl .magnify {
	float: left;
}
#catlinks {
	text-align: left;
}
.catlinks ul {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
.catlinks li {
	margin: 0.12em 0px; padding: 0px 0.5em; line-height: 1.25em; border-left-color: rgb(170, 170, 170); border-left-width: 1px; border-left-style: solid; display: inline-block; -ms-zoom: 1;
}
.catlinks li:first-child {
	padding-left: 0.25em; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.catlinks li a.mw-redirect {
	font-style: italic;
}
.mw-hidden-cats-hidden {
	display: none;
}
.catlinks-allhidden {
	display: none;
}
p.mw-ipb-conveniencelinks {
	text-align: right; font-size: 90%;
}
p.mw-protect-editreasons {
	text-align: right; font-size: 90%;
}
p.mw-filedelete-editreasons {
	text-align: right; font-size: 90%;
}
p.mw-delete-editreasons {
	text-align: right; font-size: 90%;
}
p.mw-revdel-editreasons {
	text-align: right; font-size: 90%;
}
p.mw-upload-editlicenses {
	text-align: right; font-size: 90%;
}
.autocomment {
	color: gray;
}
#pagehistory .history-user {
	margin-right: 0.2em; margin-left: 0.4em;
}
#pagehistory span.minor {
	font-weight: bold;
}
#pagehistory li {
	border: 1px solid white; border-image: none;
}
#pagehistory li.selected {
	border: 1px dashed rgb(170, 170, 170); border-image: none; background-color: rgb(249, 249, 249);
}
.mw-history-revisionactions {
	float: right;
}
#mw-fileduplicatesearch-icon {
	float: right;
}
.newpage {
	font-weight: bold;
}
.minoredit {
	font-weight: bold;
}
.botedit {
	font-weight: bold;
}
div.mw-warning-with-logexcerpt {
	padding: 3px; border: 2px solid rgb(47, 111, 171); border-image: none; clear: both; margin-bottom: 3px;
}
div.mw-warning-with-logexcerpt ul li {
	font-size: 90%;
}
span.mw-revdelundel-link {
	font-size: 90%;
}
strong.mw-revdelundel-link {
	font-size: 90%;
}
span.mw-revdelundel-hidden {
	visibility: hidden;
}
input.mw-revdelundel-hidden {
	visibility: hidden;
}
td.mw-revdel-checkbox {
	text-align: center; padding-right: 10px;
}
th.mw-revdel-checkbox {
	text-align: center; padding-right: 10px;
}
a.new {
	color: rgb(186, 0, 0);
}
.plainlinks a.external {
	background: none !important; padding: 0px !important;
}
.rtl a.free.external {
	unicode-bidi: embed; direction: ltr;
}
.rtl a.autonumber.external {
	unicode-bidi: embed; direction: ltr;
}
table.wikitable {
	margin: 1em 0px; border: 1px solid rgb(170, 170, 170); border-image: none; color: black; border-collapse: collapse; background-color: rgb(249, 249, 249);
}
table.wikitable > tr > th {
	padding: 0.2em 0.4em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > tr > td {
	padding: 0.2em 0.4em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > * > tr > th {
	padding: 0.2em 0.4em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > * > tr > td {
	padding: 0.2em 0.4em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
table.wikitable > tr > th {
	text-align: center; background-color: rgb(242, 242, 242);
}
table.wikitable > * > tr > th {
	text-align: center; background-color: rgb(242, 242, 242);
}
table.wikitable > caption {
	font-weight: bold;
}
.error {
	font-size: larger;
}
.warning {
	font-size: larger;
}
.success {
	font-size: larger;
}
.error {
	color: rgb(204, 0, 0);
}
.warning {
	color: rgb(112, 80, 0);
}
.success {
	color: rgb(0, 144, 0);
}
.errorbox {
	padding: 0.5em 1em; border: 1px solid currentColor; border-image: none; margin-bottom: 1em; display: inline-block; -ms-zoom: 1;
}
.warningbox {
	padding: 0.5em 1em; border: 1px solid currentColor; border-image: none; margin-bottom: 1em; display: inline-block; -ms-zoom: 1;
}
.successbox {
	padding: 0.5em 1em; border: 1px solid currentColor; border-image: none; margin-bottom: 1em; display: inline-block; -ms-zoom: 1;
}
.errorbox h2 {
	margin: 0px 0.5em 0px 0px; border: currentColor; border-image: none; color: inherit; font-size: 1em; font-weight: bold; display: inline;
}
.warningbox h2 {
	margin: 0px 0.5em 0px 0px; border: currentColor; border-image: none; color: inherit; font-size: 1em; font-weight: bold; display: inline;
}
.successbox h2 {
	margin: 0px 0.5em 0px 0px; border: currentColor; border-image: none; color: inherit; font-size: 1em; font-weight: bold; display: inline;
}
.errorbox {
	border-color: rgb(250, 197, 197); color: rgb(204, 0, 0); background-color: rgb(250, 227, 227);
}
.warningbox {
	border-color: rgb(253, 226, 155); color: rgb(112, 80, 0); background-color: rgb(253, 241, 209);
}
.successbox {
	border-color: rgb(183, 253, 181); color: rgb(0, 128, 0); background-color: rgb(225, 253, 223);
}
.mw-infobox {
	margin: 0.5em; border: 2px solid rgb(255, 127, 0); border-image: none; overflow: hidden; clear: left;
}
.mw-infobox-left {
	margin: 7px; width: 35px; float: left;
}
.mw-infobox-right {
	margin: 0.5em 0.5em 0.5em 49px;
}
.previewnote {
	color: rgb(204, 0, 0); margin-bottom: 1em;
}
.previewnote p {
	margin: 0.8em 0px; text-indent: 3em;
}
.visualClear {
	clear: both;
}
.mw-datatable {
	border-collapse: collapse;
}
.mw-datatable {
	padding: 0px 0.15em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.mw-datatable td {
	padding: 0px 0.15em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.mw-datatable th {
	padding: 0px 0.15em; border: 1px solid rgb(170, 170, 170); border-image: none;
}
.mw-datatable th {
	background-color: rgb(221, 221, 255);
}
.mw-datatable td {
	background-color: rgb(255, 255, 255);
}
.mw-datatable tr:hover td {
	background-color: rgb(238, 238, 255);
}
table.mw_metadata {
	width: 400px; font-size: 0.8em; margin-bottom: 0.5em; margin-left: 0.5em;
}
table.mw_metadata caption {
	font-weight: bold;
}
table.mw_metadata th {
	font-weight: normal;
}
table.mw_metadata td {
	padding: 0.1em;
}
table.mw_metadata {
	border: currentColor; border-image: none; border-collapse: collapse;
}
table.mw_metadata td {
	border: 1px solid rgb(170, 170, 170); border-image: none; text-align: center; padding-right: 5px; padding-left: 5px;
}
table.mw_metadata th {
	border: 1px solid rgb(170, 170, 170); border-image: none; text-align: center; padding-right: 5px; padding-left: 5px;
}
table.mw_metadata th {
	background-color: rgb(249, 249, 249);
}
table.mw_metadata td {
	background-color: rgb(252, 252, 252);
}
table.mw_metadata ul.metadata-langlist {
	margin: 0px; padding-right: 5px; padding-left: 5px; list-style-type: none; list-style-image: none;
}
.mw-content-ltr ul {
	margin: 0.3em 0px 0px 1.6em; padding: 0px;
}
.mw-content-rtl .mw-content-ltr ul {
	margin: 0.3em 0px 0px 1.6em; padding: 0px;
}
.mw-content-rtl ul {
	margin: 0.3em 1.6em 0px 0px; padding: 0px;
}
.mw-content-ltr .mw-content-rtl ul {
	margin: 0.3em 1.6em 0px 0px; padding: 0px;
}
.mw-content-ltr ol {
	margin: 0.3em 0px 0px 3.2em; padding: 0px;
}
.mw-content-rtl .mw-content-ltr ol {
	margin: 0.3em 0px 0px 3.2em; padding: 0px;
}
.mw-content-rtl ol {
	margin: 0.3em 3.2em 0px 0px; padding: 0px;
}
.mw-content-ltr .mw-content-rtl ol {
	margin: 0.3em 3.2em 0px 0px; padding: 0px;
}
.mw-content-ltr dd {
	margin-right: 0px; margin-left: 1.6em;
}
.mw-content-rtl .mw-content-ltr dd {
	margin-right: 0px; margin-left: 1.6em;
}
.mw-content-rtl dd {
	margin-right: 1.6em; margin-left: 0px;
}
.mw-content-ltr .mw-content-rtl dd {
	margin-right: 1.6em; margin-left: 0px;
}
.mw-ajax-loader {
	background-position: center; padding: 16px; top: -16px; position: relative; background-image: url("/resources/src/mediawiki.legacy/images/ajax-loader.gif?57f34"); background-repeat: no-repeat;
}
.mw-small-spinner {
	background-position: center; padding: 10px !important; margin-right: 0.6em; background-image: url("/resources/src/mediawiki.legacy/images/spinner.gif?ca65b"); background-repeat: no-repeat;
}
h1:lang(anp) {
	line-height: 1.6em !important;
}
h1:lang(as) {
	line-height: 1.6em !important;
}
h1:lang(bh) {
	line-height: 1.6em !important;
}
h1:lang(bho) {
	line-height: 1.6em !important;
}
h1:lang(bn) {
	line-height: 1.6em !important;
}
h1:lang(gu) {
	line-height: 1.6em !important;
}
h1:lang(hi) {
	line-height: 1.6em !important;
}
h1:lang(kn) {
	line-height: 1.6em !important;
}
h1:lang(ks) {
	line-height: 1.6em !important;
}
h1:lang(ml) {
	line-height: 1.6em !important;
}
h1:lang(mr) {
	line-height: 1.6em !important;
}
h1:lang(my) {
	line-height: 1.6em !important;
}
h1:lang(mai) {
	line-height: 1.6em !important;
}
h1:lang(ne) {
	line-height: 1.6em !important;
}
h1:lang(new) {
	line-height: 1.6em !important;
}
h1:lang(or) {
	line-height: 1.6em !important;
}
h1:lang(pa) {
	line-height: 1.6em !important;
}
h1:lang(pi) {
	line-height: 1.6em !important;
}
h1:lang(sa) {
	line-height: 1.6em !important;
}
h1:lang(ta) {
	line-height: 1.6em !important;
}
h1:lang(te) {
	line-height: 1.6em !important;
}
h2:lang(anp) {
	line-height: 1.2em;
}
h3:lang(anp) {
	line-height: 1.2em;
}
h4:lang(anp) {
	line-height: 1.2em;
}
h5:lang(anp) {
	line-height: 1.2em;
}
h6:lang(anp) {
	line-height: 1.2em;
}
h2:lang(as) {
	line-height: 1.2em;
}
h3:lang(as) {
	line-height: 1.2em;
}
h4:lang(as) {
	line-height: 1.2em;
}
h5:lang(as) {
	line-height: 1.2em;
}
h6:lang(as) {
	line-height: 1.2em;
}
h2:lang(bho) {
	line-height: 1.2em;
}
h3:lang(bho) {
	line-height: 1.2em;
}
h4:lang(bho) {
	line-height: 1.2em;
}
h5:lang(bho) {
	line-height: 1.2em;
}
h6:lang(bho) {
	line-height: 1.2em;
}
h2:lang(bh) {
	line-height: 1.2em;
}
h3:lang(bh) {
	line-height: 1.2em;
}
h4:lang(bh) {
	line-height: 1.2em;
}
h5:lang(bh) {
	line-height: 1.2em;
}
h6:lang(bh) {
	line-height: 1.2em;
}
h2:lang(bn) {
	line-height: 1.2em;
}
h3:lang(bn) {
	line-height: 1.2em;
}
h4:lang(bn) {
	line-height: 1.2em;
}
h5:lang(bn) {
	line-height: 1.2em;
}
h6:lang(bn) {
	line-height: 1.2em;
}
h2:lang(gu) {
	line-height: 1.2em;
}
h3:lang(gu) {
	line-height: 1.2em;
}
h4:lang(gu) {
	line-height: 1.2em;
}
h5:lang(gu) {
	line-height: 1.2em;
}
h6:lang(gu) {
	line-height: 1.2em;
}
h2:lang(hi) {
	line-height: 1.2em;
}
h3:lang(hi) {
	line-height: 1.2em;
}
h4:lang(hi) {
	line-height: 1.2em;
}
h5:lang(hi) {
	line-height: 1.2em;
}
h6:lang(hi) {
	line-height: 1.2em;
}
h2:lang(kn) {
	line-height: 1.2em;
}
h3:lang(kn) {
	line-height: 1.2em;
}
h4:lang(kn) {
	line-height: 1.2em;
}
h5:lang(kn) {
	line-height: 1.2em;
}
h6:lang(kn) {
	line-height: 1.2em;
}
h2:lang(ks) {
	line-height: 1.2em;
}
h3:lang(ks) {
	line-height: 1.2em;
}
h4:lang(ks) {
	line-height: 1.2em;
}
h5:lang(ks) {
	line-height: 1.2em;
}
h6:lang(ks) {
	line-height: 1.2em;
}
h2:lang(ml) {
	line-height: 1.2em;
}
h3:lang(ml) {
	line-height: 1.2em;
}
h4:lang(ml) {
	line-height: 1.2em;
}
h5:lang(ml) {
	line-height: 1.2em;
}
h6:lang(ml) {
	line-height: 1.2em;
}
h2:lang(mr) {
	line-height: 1.2em;
}
h3:lang(mr) {
	line-height: 1.2em;
}
h4:lang(mr) {
	line-height: 1.2em;
}
h5:lang(mr) {
	line-height: 1.2em;
}
h6:lang(mr) {
	line-height: 1.2em;
}
h2:lang(my) {
	line-height: 1.2em;
}
h3:lang(my) {
	line-height: 1.2em;
}
h4:lang(my) {
	line-height: 1.2em;
}
h5:lang(my) {
	line-height: 1.2em;
}
h6:lang(my) {
	line-height: 1.2em;
}
h2:lang(mai) {
	line-height: 1.2em;
}
h3:lang(mai) {
	line-height: 1.2em;
}
h4:lang(mai) {
	line-height: 1.2em;
}
h5:lang(mai) {
	line-height: 1.2em;
}
h6:lang(mai) {
	line-height: 1.2em;
}
h2:lang(ne) {
	line-height: 1.2em;
}
h3:lang(ne) {
	line-height: 1.2em;
}
h4:lang(ne) {
	line-height: 1.2em;
}
h5:lang(ne) {
	line-height: 1.2em;
}
h6:lang(ne) {
	line-height: 1.2em;
}
h2:lang(new) {
	line-height: 1.2em;
}
h3:lang(new) {
	line-height: 1.2em;
}
h4:lang(new) {
	line-height: 1.2em;
}
h5:lang(new) {
	line-height: 1.2em;
}
h6:lang(new) {
	line-height: 1.2em;
}
h2:lang(or) {
	line-height: 1.2em;
}
h3:lang(or) {
	line-height: 1.2em;
}
h4:lang(or) {
	line-height: 1.2em;
}
h5:lang(or) {
	line-height: 1.2em;
}
h6:lang(or) {
	line-height: 1.2em;
}
h2:lang(pa) {
	line-height: 1.2em;
}
h3:lang(pa) {
	line-height: 1.2em;
}
h4:lang(pa) {
	line-height: 1.2em;
}
h5:lang(pa) {
	line-height: 1.2em;
}
h6:lang(pa) {
	line-height: 1.2em;
}
h2:lang(pi) {
	line-height: 1.2em;
}
h3:lang(pi) {
	line-height: 1.2em;
}
h4:lang(pi) {
	line-height: 1.2em;
}
h5:lang(pi) {
	line-height: 1.2em;
}
h6:lang(pi) {
	line-height: 1.2em;
}
h2:lang(sa) {
	line-height: 1.2em;
}
h3:lang(sa) {
	line-height: 1.2em;
}
h4:lang(sa) {
	line-height: 1.2em;
}
h5:lang(sa) {
	line-height: 1.2em;
}
h6:lang(sa) {
	line-height: 1.2em;
}
h2:lang(ta) {
	line-height: 1.2em;
}
h3:lang(ta) {
	line-height: 1.2em;
}
h4:lang(ta) {
	line-height: 1.2em;
}
h5:lang(ta) {
	line-height: 1.2em;
}
h6:lang(ta) {
	line-height: 1.2em;
}
h2:lang(te) {
	line-height: 1.2em;
}
h3:lang(te) {
	line-height: 1.2em;
}
h4:lang(te) {
	line-height: 1.2em;
}
h5:lang(te) {
	line-height: 1.2em;
}
h6:lang(te) {
	line-height: 1.2em;
}
ol:lang(azb) li {
	
}
ol:lang(bcc) li {
	
}
ol:lang(bgn) li {
	
}
ol:lang(bqi) li {
	
}
ol:lang(fa) li {
	
}
ol:lang(glk) li {
	
}
ol:lang(kk-arab) li {
	
}
ol:lang(lrc) li {
	
}
ol:lang(luz) li {
	
}
ol:lang(mzn) li {
	
}
ol:lang(ckb) li {
	
}
ol:lang(sdh) li {
	
}
ol:lang(hi) li {
	
}
ol:lang(mr) li {
	
}
ol:lang(as) li {
	
}
ol:lang(bn) li {
	
}
ol:lang(or) li {
	
}
#toc ul {
	margin: 0.3em 0px;
}
.toc ul {
	margin: 0.3em 0px;
}
.mw-content-ltr .toc ul {
	text-align: left;
}
.mw-content-ltr #toc ul {
	text-align: left;
}
.mw-content-rtl .mw-content-ltr .toc ul {
	text-align: left;
}
.mw-content-rtl .mw-content-ltr #toc ul {
	text-align: left;
}
.mw-content-rtl .toc ul {
	text-align: right;
}
.mw-content-rtl #toc ul {
	text-align: right;
}
.mw-content-ltr .mw-content-rtl .toc ul {
	text-align: right;
}
.mw-content-ltr .mw-content-rtl #toc ul {
	text-align: right;
}
.mw-content-ltr .toc ul ul {
	margin: 0px 0px 0px 2em;
}
.mw-content-ltr #toc ul ul {
	margin: 0px 0px 0px 2em;
}
.mw-content-rtl .mw-content-ltr .toc ul ul {
	margin: 0px 0px 0px 2em;
}
.mw-content-rtl .mw-content-ltr #toc ul ul {
	margin: 0px 0px 0px 2em;
}
.mw-content-rtl .toc ul ul {
	margin: 0px 2em 0px 0px;
}
.mw-content-rtl #toc ul ul {
	margin: 0px 2em 0px 0px;
}
.mw-content-ltr .mw-content-rtl .toc ul ul {
	margin: 0px 2em 0px 0px;
}
.mw-content-ltr .mw-content-rtl #toc ul ul {
	margin: 0px 2em 0px 0px;
}
#toc #toctitle {
	direction: ltr;
}
.toc #toctitle {
	direction: ltr;
}
#toc .toctitle {
	direction: ltr;
}
.toc .toctitle {
	direction: ltr;
}
.mw-help-field-hint {
	background-position: left; padding: 0px 0px 0px 15px; color: rgb(6, 69, 173); font-size: 0.8em; text-decoration: underline; margin-bottom: -8px; margin-left: 2px; display: none; cursor: pointer; background-image: url("/resources/src/mediawiki.legacy/images/help-question.gif?346d8"); background-repeat: no-repeat;
}
.mw-help-field-hint:hover {
	background-image: url("/resources/src/mediawiki.legacy/images/help-question-hover.gif?53eb5");
}
.mw-help-field-data {
	padding: 5px 8px 4px; border: 1px solid rgb(93, 201, 244); border-image: none; margin-left: 20px; display: block; background-color: rgb(214, 243, 255);
}
#mw-clearyourcache {
	unicode-bidi: embed; direction: ltr;
}
#mw-sitecsspreview {
	unicode-bidi: embed; direction: ltr;
}
#mw-sitejspreview {
	unicode-bidi: embed; direction: ltr;
}
#mw-usercsspreview {
	unicode-bidi: embed; direction: ltr;
}
#mw-userjspreview {
	unicode-bidi: embed; direction: ltr;
}
.diff-currentversion-title {
	unicode-bidi: embed; direction: ltr;
}
.diff {
	unicode-bidi: embed; direction: ltr;
}
.diff-contentalign-right td {
	unicode-bidi: embed; direction: rtl;
}
.diff-contentalign-left td {
	unicode-bidi: embed; direction: ltr;
}
.diff-multi {
	unicode-bidi: embed; direction: ltr !important;
}
.diff-otitle {
	unicode-bidi: embed; direction: ltr !important;
}
.diff-ntitle {
	unicode-bidi: embed; direction: ltr !important;
}
.diff-lineno {
	unicode-bidi: embed; direction: ltr !important;
}
#mw-revision-info {
	display: inline; direction: ltr;
}
#mw-revision-info-current {
	display: inline; direction: ltr;
}
#mw-revision-nav {
	display: inline; direction: ltr;
}
div.tright {
	clear: right; float: right;
}
div.floatright {
	clear: right; float: right;
}
table.floatright {
	clear: right; float: right;
}
div.tleft {
	clear: left; float: left;
}
div.floatleft {
	clear: left; float: left;
}
table.floatleft {
	clear: left; float: left;
}
div.floatright {
	position: relative;
}
table.floatright {
	position: relative;
}
div.floatleft {
	position: relative;
}
table.floatleft {
	position: relative;
}
#mw-credits a {
	unicode-bidi: embed;
}
.mw-jump {
	height: 0px; overflow: hidden; -ms-zoom: 1;
}
#jump-to-nav {
	height: 0px; overflow: hidden; -ms-zoom: 1;
}
.printfooter {
	display: none;
}
.xdebug-error {
	position: absolute; z-index: 99;
}
.mw-editsection {
	-ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
.toctoggle {
	-ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
.tochidden {
	-ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
#jump-to-nav {
	-ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
.mw-editsection {
	line-height: 1em; font-size: small; font-weight: normal; margin-left: 1em; vertical-align: baseline; display: inline-block;
}
.mw-editsection-like {
	line-height: 1em; font-size: small; font-weight: normal; margin-left: 1em; vertical-align: baseline; display: inline-block;
}
.mw-content-ltr .mw-editsection {
	margin-left: 1em;
}
.mw-content-rtl .mw-content-ltr .mw-editsection {
	margin-left: 1em;
}
.mw-content-rtl .mw-editsection {
	margin-right: 1em;
}
.mw-content-ltr .mw-content-rtl .mw-editsection {
	margin-right: 1em;
}
sup {
	line-height: 1;
}
sub {
	line-height: 1;
}
}
.mw-headline-anchor {
	display: none;
}
